In [4]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('bea-2006.csv')

In [5]:
df

,MSA,pcgmp,pop,finance,prof.tech,ict,management
0,"Abilene, TX",24490,158700.0,0.09750,NaN,0.016210,NaN
1,"Akron, OH",32890,699300.0,0.12940,0.05440,NaN,0.054310
2,"Albany, GA",24270,163000.0,0.08217,NaN,0.007080,NaN
3,"Albany-Schenectady-Troy, NY",36840,850300.0,0.15780,0.09399,0.045110,NaN
4,"Albuquerque, NM",37660,816000.0,0.15990,0.09978,0.205000,0.006509
5,"Alexandria, LA",25490,152200.0,0.09152,0.03790,0.011340,0.015210
6,"Allentown-Bethlehem-Easton, PA-NJ",30160,794400.0,0.13670,NaN,0.033840,NaN
7,"Altoona, PA",27010,125500.0,0.08437,0.04513,0.023300,0.009145
8,"Amarillo, TX",29360,239800.0,0.10150,NaN,0.013070,NaN
9,"Ames, IA",35570,83520.0,0.11240,0.03736,0.024570,0.004712
10,"Anchorage, AK",49500,358800.0,0.14940,0.06187,0.011650,NaN
11,"Anderson, IN",23310,131000.0,0.10220,0.02063,0.007531,0.007531
12,"Anderson, SC",22940,176900.0,0.08869,0.02267,NaN,0.001725
13,"Ann Arbor, MI",46690,346200.0,0.13250,0.11340,NaN,0.010090
14,"Anniston-Oxford, AL",27200,112600.0,0.05911,0.04311,0.009144,0.001633
15,"Appleton, WI",36440,216100.0,0.15520,NaN,0.018410,NaN
16,"Asheville, NC",28180,397000.0,0.16330,NaN,0.025380,NaN
17,"Athens-Clarke County, GA",26920,182700.0,0.12480,0.03253,0.011180,NaN
18,"Atlanta-Sandy Springs-Marietta, GA",44770,5114000.0,0.21280,NaN,0.053370,NaN
19,"Atlantic City-Hammonton, NJ",42450,269300.0,0.15980,0.04470,0.019070,0.005335
20,"Auburn-Opelika, AL",22210,127900.0,0.13130,0.02851,0.010910,0.002464
21,"Augusta-Richmond County, GA-SC",27260,522100.0,0.09323,NaN,0.012860,NaN
22,"Austin-Round Rock, TX",43200,1527000.0,0.13880,0.09211,0.249500,NaN
23,"Bakersfield, CA",25190,770200.0,0.10790,0.04664,NaN,0.006597
24,"Baltimore-Towson, MD",40410,2658000.0,0.19990,0.10700,0.049300,NaN
25,"Bangor, ME",29850,147800.0,0.12900,0.03921,NaN,0.006346
26,"Barnstable Town, MA",31730,223300.0,0.26010,0.06619,NaN,0.005363
27,"Baton Rouge, LA",35560,763600.0,0.12960,NaN,0.012560,NaN
28,"Battle Creek, MI",31150,137200.0,0.08402,0.01474,NaN,0.022230
29,"Bay City, MI",22870,107900.0,0.10370,0.10330,0.087520,0.002026
...,...,...,...,...,...,...,...
336,"Tulsa, OK",37760,891200.0,0.15880,NaN,0.019910,NaN
337,"Tuscaloosa, AL",31860,202400.0,0.12300,0.02932,0.017680,NaN
338,"Tyler, TX",32910,194300.0,0.10820,0.05176,NaN,0.001876
339,"Utica-Rome, NY",24080,294000.0,0.14010,NaN,0.046030,NaN
340,"Valdosta, GA",24070,128300.0,0.11660,NaN,0.004534,0.004210
341,"Vallejo-Fairfield, CA",25040,407100.0,0.16110,0.02962,0.009711,0.009514
342,"Victoria, TX",33960,112500.0,0.06464,NaN,0.005496,NaN
343,"Vineland-Millville-Bridgeton, NJ",26240,153900.0,0.10600,0.02600,0.009903,0.012130
344,"Virginia Beach-Norfolk-Newport News, VA-NC",36120,1662000.0,0.18490,NaN,0.035310,NaN
345,"Visalia-Porterville, CA",21640,412100.0,0.10250,NaN,0.008748,NaN
346,"Waco, TX",27790,225700.0,0.12370,0.02902,0.077010,0.005102
347,"Warner Robins, GA",29930,128000.0,0.07415,0.08303,NaN,0.002089
348,"Washington-Arlington-Alexandria, DC-VA-MD-WV",60240,5260000.0,NaN,NaN,0.104200,NaN
349,"Waterloo-Cedar Falls, IA",37260,162800.0,0.13250,NaN,0.010720,NaN
350,"Wausau, WI",36650,128800.0,0.16100,0.03665,NaN,0.007627
351,"Weirton-Steubenville, WV-OH",21520,123800.0,0.08705,NaN,0.016890,NaN
352,"Wenatchee-East Wenatchee, WA",28520,105000.0,0.15360,0.02639,0.012690,NaN
353,"Wheeling, WV-OH",25830,146700.0,0.12270,NaN,0.016890,NaN
354,"Wichita, KS",37420,588000.0,0.10770,NaN,0.023640,NaN
355,"Wichita Falls, TX",27040,149300.0,0.07357,NaN,0.011640,NaN
356,"Williamsport, PA",26210,117200.0,0.08493,0.03287,0.022780,0.002929
357,"Wilmington, NC",32690,328600.0,0.25350,NaN,0.009869,NaN
358,"Winchester, VA-WV",35030,118700.0,0.14290,0.03224,0.012990,NaN
359,"Winston-Salem, NC",43060,453700.0,0.20470,NaN,0.022520,NaN
360,"Worcester, MA",30290,780600.0,0.14570,0.07473,NaN,0.018570
361,"Yakima, WA",25220,230100.0,0.09545,0.02223,0.004307,0.004824
362,"York-Hanover, PA",29480,414000.0,0.12220,0.03622,NaN,0.015000
363,"Youngstown-Warren-Boardman, OH-PA",26000,576200.0,0.12970,0.02670,0.013210,0.007208
364,"Yuba City, CA",21320,159800.0,0.15000,0.03229,0.008218,NaN
365,"Yuma, AZ",20320,185100.0,0.10160,0.02287,0.030580,0.002127